<div class="wrapper">

    <h2 style="color: black;">Create a Movie</h2>
    <h2 style="color: red;"> <%= @error %> </h2>

    <form method="post" action="/movies">
  <p>
    <div><label for="title" style="color: black;">Movie name</label></div>
    <input id="title" type="text" name="movie[title]" value="<%= @movie.title %>" />
  </p>
  <p style="color: black;">
    <div><label for="description" style="color: black;">Description</label></div>
    <textarea rows="8" cols="45" id="description" type="text" name="movie[description]"><%= @movie.description %></textarea>
  
  </p>
  <input type="submit" value="Create Movie" />
</form>
</div>