<div class="wrapper">

    <h2>New Movie</h2>

    <form action="/movies" method="post">
    <p style="color: black;"><label for="title">Title</label>
    <input type="text" name="movie[title]" id="title"></p>

    <p style="color: black;"><label for="description">Description</label>
    <textarea type="description" name="movie[description]" id="description" rows="5"></textarea></p>

    <input type="submit" value="Save" class="button">
    </form>
</div>