<div class="wrapper">

    <h1 style="color: black;"> <%= @movie.title %> </h1>

    <p style="color: black;"> <%= @movie.user.email %> <p>

   <p style="color: black;"> <%= @movie.description%> </p>
</div>